.App {
  text-align: center;
  background: "#87b9e8";
  color: "#87b9e8";
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  color: #87b9e8;
  background: #87b9e8;
  background-color: #87b9e8;
}

.create-event {
  margin: auto;
  display: flex;
  width: 400px;

  flex-direction: column;
}

.create-event-field {
  margin: 20px auto;
  width: 300px;
}

.create-event-submit {
  margin: 20px 0px;
}

.navbar {
  height: 60px;
  text-align: left;
  margin-bottom: 30px;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)
}
.navbar-text {
  padding: 10px 10px;
}
.restaurant-card-fav {
  max-width: 345px;
  border: 4px solid #b7e9ed
}
.restaurant-card-reg {
  max-width: 345px;
  margin: 4px;
}
.cardMedia {
  height: 0px;
  padding-top: 56.25%;
}
.bigAvatar {
  margin: 10px;
  width: 60px;
  height: 60px;
}
.restaurantChip{
  margin: 3px;
}
.MuiCardHeader-title {
  text-align: left;
}
.headCard {
  transform: scale(0.8, 0.8);

}
.moneyIcon{
  margin: -6px;
  color: gray;
}
.locationIcon{
  position: relative;
  top: 5px;
  color: gray;
}
.addfab {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)

}
