.App {
  text-align: center;
  background: "#87b9e8";
  color: "#87b9e8";
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  color: #87b9e8;
  background: #87b9e8;
  background-color: #87b9e8;
}

.create-event {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  width: 40%;
  height: 80vh;
  

  flex-direction: column;
}

.create-event-header-container {
  background: #cccccc;
  height: 10vh;

}
.create-event-header {
  font-family: 'Staatliches' !important;
  font-size: 2em !important;
  margin-left: 10% !important;
}

.create-event-field {
  margin: 5vh auto;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.create-event-submit {
  margin: 20px 0px;
}

.navbar {
  height: 60px;
  text-align: left;
  margin-bottom: 30px;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)
}
.navbar-text {
  padding: 10px 10px;
  font-family: 'Staatliches', cursive !important;
  font-size: 3em !important;
}

.navbar-button {
  margin-left: 20px !important;
}

.burger {
  margin-bottom: 5px;
}
.restaurant-grid {
  margin: 3vm;
}

.restaurant-card-fav {
  border: 4px solid #b7e9ed
}
.restaurant-card-reg {
  margin: 4px;
}
.cardMedia {
  height: 0px;
  padding-top: 56.25%;
}

.card-media-small-container {
  display: flex;
  height: 200px;
  margin-bottom: 5px;
}
.card-media-small {
  width: 100%;
  margin: 0px 5px;
  height: 0px;
  padding-top: 40.25%;
}
.bigAvatar {
  margin: 10px;
  width: 60px;
  height: 60px;
}
.restaurantChip{
  margin: 3px;
}

.MuiCardHeader-title {
  text-align: left;
  margin-bottom: 20px !important;
}

.MuiCardHeader-action {
  margin: 0px !important;
  width: 50% !important;
}

.headCard {
  height: 50px;
}

.header-action-container {
  display: flex;
  justify-content: flex-end;
}

.header-stars {
  transform: scale(0.9, 0.9);
}

.dollar-signs {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.card-header {
  padding: 12px !important;
}

.money-icon{
  margin:0.5em;
  color: gray;
  margin: 0px -4px;
}
.locationIcon{
  position: relative;
  top: 5px;
  color: gray;
}
.addfab {
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)
}

.header-separator {
  margin-left: 5px;
}

.login-container {
  margin: auto;
  width: 80%;
  padding: 5%;
}
.progress-bar {
  height: 10px !important;
  width: 80%;
  margin: 10px 10px;
  border-radius: 20px;
}
.result-container {
  display: flex;
}
.result-child {
  margin-left: 10px !important;
  margin-right: 7px !important;

}
