.App {
  text-align: center;
  background: "#87b9e8";
  color: "#87b9e8";
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.navbar {
  color: #87b9e8;
  background: #87b9e8;
  background-color: #87b9e8;
}

.create-event {
  margin: auto;
  display: flex;
  width: 400px;

  flex-direction: column;
}

.create-event-field {
  margin: 20px auto;
  width: 300px;
}

.create-event-submit {
  margin: 20px 0px;
}

.navbar {
  height: 60px;
  text-align: left;
  margin-bottom: 30px;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)
}
.navbar-text {
  padding: 10px 10px;
}
.restaurantlist {
  width: 500px;
  height: 450px;
  margin: auto !important;
}

.infoicon {
    color: rgba(255, 255, 255, 0.54) !important;
}
